# RAG_START=local # 本地起服务
RAG_START=docker # docker起服务

POSTGRES_DB=rag-db
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password

# 连接远端数据库
USE_DB=remote
# SSH 隧道配置 (scripts/ssh-tunnel.sh 使用)
SSH_TUNNEL_HOST=root@your_server_ip
SSH_TUNNEL_LOCAL_PORT=5434
SSH_TUNNEL_REMOTE_PORT=5434
# 远端数据库地址
DATABASE_URL=postgresql://your_db_user:your_db_password@localhost:5434/rag-db
DATABASE_URL_DOCKER=postgresql://your_db_user:your_db_password@host.docker.internal:5434/rag-db

# 连接本地数据库
# USE_DB=local
# DATABASE_URL=postgresql://your_db_user:your_db_password@localhost:5434/rag-db
# DATABASE_URL_DOCKER=postgresql://your_db_user:your_db_password@host.docker.internal:5434/rag-db
